*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}



body{

    font-family:Arial, sans-serif;

    background:#020617;

    color:white;

    line-height:1.6;

}



/* Header */

header{

    text-align:center;

    padding:60px 20px;

    background:#020617;

}



.profile{

    width:90px;

    height:90px;

    border-radius:50%;

    object-fit:cover;

    border:3px solid white;

    margin-bottom:15px;

}



header h1{

    font-size:45px;

}



header p{

    font-size:18px;

    color:#94a3b8;

}





/* Main */

main{

    max-width:950px;

    margin:auto;

}



section{

    padding:40px 20px;

    border-bottom:1px solid #1e293b;

}



h2{

    font-size:32px;

    margin-bottom:20px;

}





/* Skills */

.skills{

    display:flex;

    gap:20px;

    flex-wrap:wrap;

}



.card{

    background:#111827;

    padding:25px;

    border-radius:15px;

    flex:1;

    min-width:200px;

    transition:0.3s;

}



.card:hover{

    transform:translateY(-5px);

}



/* Skill Logo */

.card img{

    width:30px;

    height:30px;

    object-fit:contain;

    margin-bottom:15px;

}






/* Project */

.project{

    display:flex;

    align-items:center;

    gap:30px;

    background:#111827;

    padding:30px;

    border-radius:15px;

}



.project img{

    width:90px;

    height:90px;

    object-fit:contain;

}



.project a{

    color:#38bdf8;

    text-decoration:none;

}





/* Contact */

.contact{

    display:flex;
    gap:15px;
    flex-wrap:wrap;

}


.contact a{

    width:45px;
    height:45px;

    display:flex;

    justify-content:center;

    align-items:center;


    background:#111827;

    border-radius:50%;


    transition:0.3s;

}



.contact a:hover{

    transform:translateY(-5px);

    background:#1e293b;

}




.contact a img{

    width:20px;

    height:20px;

    object-fit:contain;

}




.contact span{

    display:none;

}
