*{

margin:0;
padding:0;
box-sizing:border-box;

}



body{

font-family:Arial,sans-serif;

background:#020617;

color:white;

line-height:1.6;

}



header{

text-align:center;

padding:60px 20px;

background:#020617;

}


.profile{

width:90px;

height:90px;

border-radius:50%;

object-fit:cover;

border:3px solid white;

margin-bottom:15px;

}


header h1{

font-size:45px;

}


header p{

font-size:18px;

color:#94a3b8;

}


main{

max-width:950px;

margin:auto;

}



section{

padding:40px 20px;

border-bottom:1px solid #1e293b;

}



h2{

font-size:32px;

margin-bottom:20px;

}



.skills{

display:flex;

gap:20px;

flex-wrap:wrap;

}



.card{

background:#111827;

padding:25px;

border-radius:15px;

flex:1;

min-width:200px;

transition:0.3s;

}



.card:hover{

transform:translateY(-5px);

}



.card img{

width:45px;

height:45px;

object-fit:contain;

margin-bottom:15px;

}



.project{

display:flex;

align-items:center;

gap:30px;

background:#111827;

padding:30px;

border-radius:15px;

}



.project img{

width:90px;

height:90px;

object-fit:contain;

}



.project a{

color:#38bdf8;

text-decoration:none;

}



.contact{

display:flex;

gap:20px;

flex-wrap:wrap;

}



.contact a{

background:#111827;

padding:12px 20px;

border-radius:10px;

color:#38bdf8;

text-decoration:none;

}



.contact a:hover{

background:#1e293b;

}


footer{

text-align:center;

padding:30px;

background:#111827;

color:#94a3b8;

}